{% extends 'base.html.twig' %}

{% block title %}Poem Contribution List{% endblock %}

{% block pageheader %}
    <h1>Poem Contributions</h1>
    {% include 'partial/count.html.twig' with {'index': contentContributions, 'label': 'content contributions'} %}
{% endblock %}


{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'content_contribution', 'index_label': 'Poem Contributions'} %}
{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>First line</th>
                <th>Person</th>
                <th>Role</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% for contentContribution in contentContributions %}
                <tr>
                    <td>
                        <a href="{{ path('content_show', { 'id': contentContribution.content.id }) }}">
                            {{ contentContribution.content }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('person_show', {'id': contentContribution.person.id}) }}">
                            {{ contentContribution.person }}
                        </a>
                    </td>
                    <td>
                        {{ contentContribution.role }}
                    </td>
                    <td>
                        {{ contentContribution.note|raw }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(contentContributions) }}
    </div>

{% endblock %}
