{% extends 'base.html.twig' %}

{% block title %}Poem Contribution{% endblock %}

 {% block pageheader %}
     <h1>Poem Contribution Details</h1>
 {% endblock %}

 {% block breadcrumb %}
     {% include 'partial/breadcrumb.html.twig' with {'index': 'content_contribution', 'index_label': 'Poem Contributions', 'show': contentContribution.id} %}
 {% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Poem</th>
                <td>
                    <a href="{{ path('content_show', { 'id': contentContribution.content.id}) }}">
                        {{ contentContribution.content }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Role</th>
                <td>
                    <a href="{{ path('content_role_show', { 'id': contentContribution.role.id}) }}">
                        {{ contentContribution.role }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Person</th>
                <td>
                    <a href="{{ path('person_show', { 'id': contentContribution.person.id}) }}">
                        {{ contentContribution.person }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ contentContribution.note|raw }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if contentContribution.created %}{{ contentContribution.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if contentContribution.updated %}{{ contentContribution.updated|date }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
