<div class="gallery person">
    {% for person in people|sort((a,b) => (a.sortableName <=> b.sortableName)) %}
        {% embed 'partial/gallery-item.html.twig' %}
            {% block item_class %}person{% endblock %}
            {% block item_heading %}
                <a href="{{ path('person_show', { 'id': person.id }) }}">{{ person }}</a>
            {% endblock %}
            {% block item_top %}
                {% include 'person/partial/dates.html.twig' %}
                {% if person.coteries|length > 0 %}
                    {% set arr = [] %}
                    {% for coterie in person.coteries %}
                        {% set link %}
                            <a href="{{ path('coterie_show', {'id': coterie.id}) }}">{{ coterie }}</a>
                        {% endset %}
                        {% set arr = arr|merge([link|spaceless]) %}
                    {% endfor %}
                    <table>
                        <tbody>
                        <tr>
                            <th>Coteries</th>
                            <td>{{ arr|join(', ',', and ')|raw }}</td>
                        </tbody>

                    </table>
                {% endif %}
            {% endblock %}
            {% block item_body %}
                {{ person.description|raw }}
            {% endblock %}
        {% endembed %}
    {% endfor %}
</div>
