{% extends 'base.html.twig' %}

{% block title %}Content List{% endblock %}

{% block pageheader %}
    <h1>Content List</h1>
    <p class="count">
        Displaying {{ contents|length }} contents of {{ contents.getTotalItemCount }} total. </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('content_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New </a>
            {% endif %}
            <a href="{{ path('content_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>First Line</th>
                <th>Transcription</th>
                <th>Context</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for content in contents %}
                <tr>
                    <td>
                        <a href="{{ path('content_show', { 'id': content.id }) }}">
                            {{ content.firstLine }}
                        </a>
                    </td>
                    <td>{{ content.transcription|raw }}</td>
                    <td>{{ content.context|raw }}</td>
                    <td>{{ content.description|raw }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(contents) }}
    </div>

{% endblock %}
