<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Name</th>
            <td>
                {{ coterie.name }}
            </td>
        </tr>
        <tr>
            <th>Label</th>
            <td>
                {{ coterie.label }}
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                {{ coterie.description|raw }}
            </td>
        </tr>

        <tr>
            <th>Person</th>
            <td>
                {% if coterie.people|length > 0 %}
                    <ul>
                        {% for person in coterie.people %}
                            <li>
                                <a href='{{ path("person_show", {"id":person.id }) }}'>
                                    {{ person }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ coterie.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ coterie.updated|date }}</td>
        </tr>
    </tbody>
</table>


