{% extends 'base.html.twig' %}

{% block title %}Feature List{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'feature'} %}
{% endblock %}

{% block pageheader %}
    <h1>Features</h1>
    <p>Bibliographical, decorative, organizational, or user-related features of a manuscript</p>
    {% include 'partial/count.html.twig' with {'index': features, 'label': 'features'} %}
{% endblock %}


{% block admin %}
    {% include 'partial/toolbar.html.twig' with {'new': 'feature_new'} %}
{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Feature</th>
                <th>Description</th>
                <th>Manuscripts</th>
            </tr>
        </thead>
        <tbody>
            {% for feature in features %}
                <tr>
                    <td>
                        <a href="{{ path('feature_show',{'id': feature.id}) }}">
                            {{ feature }}
                        </a>
                    </td>
                    <td>{{ feature.description|raw }}</td>
                    <td class="number">{{ feature.manuscriptFeatures|length }}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(features) }}
    </div>

{% endblock %}
