{% extends 'base.html.twig' %}

{% block title %}Feature{% endblock %}

 {% block pageheader %}
     {% include 'partial/category-index.html.twig' with {'term': feature} %}
 {% endblock %} 
 
 {% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'feature', 'show': feature} %}
 {% endblock %}
 
 {% block admin %}
 
 {% include 'partial/toolbar.html.twig' with {'edit': 'feature_edit', 'delete': 'feature_delete', 'id': feature.id } %}
 
 {% endblock %}

{% block body %}

    {% if feature.images | length > 0 %}
        <h2>Images</h2>
        <ul>
            {% for image in feature.images %}
                <li>
                    <a href="{{ path("image_show", {"id":image.id}) }}">
                        {{ image }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if feature.manuscriptFeatures | length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>Manuscript</th>
            <th>Note</th>
        </tr>
    </thead>
        <tbody>
           
            {% for manuscriptFeature in feature.manuscriptFeatures %}
            <tr>
                <td>
                    <a href="{{ path('manuscript_show', {'id': manuscriptFeature.manuscript.id}) }}">{{ manuscriptFeature.manuscript.callNumber }}
                    </a>
                </td>
                
                <td>{{ manuscriptFeature.note|raw }}</td> 
            </tr>
         
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
