{% extends 'base.html.twig' %}

{% block title %}Manuscript List{% endblock %}

{% block pageheader %}
    <h1>Manuscript List</h1>
    <p class="count">
        Displaying {{ manuscripts|length }} manuscripts of {{ manuscripts.getTotalItemCount }} total. </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('manuscript_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New </a>
            {% endif %}
            <a href="{{ path('manuscript_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Call number</th>
                <th>Periods</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for manuscript in manuscripts %}
                <tr>
                    <td>
                        <a href="{{ path('manuscript_show', { 'id': manuscript.id }) }}">
                            {{ manuscript }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('manuscript_show', { 'id': manuscript.id }) }}">
                            {{ manuscript.callNumber }}
                        </a>
                    </td>
                    <td>{{ manuscript.periods|join(", ") }}</td>
                    <td>{{ manuscript.description|raw }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(manuscripts) }}
    </div>

{% endblock %}
