{% extends 'base.html.twig' %}

{% block title %}Contents{% endblock %}

{% block pageheader %}
    <h1>Contents</h1>
    <p class="count">
        Displaying {{ contents|length }} contents of {{ contents.getTotalItemCount }} total. </p>
{% endblock %}


{% block breadcrumb %}
{% include 'partial/breadcrumb.html.twig' with {'index': 'content'} %}
{% endblock %}

{% block admin %}
<div class='btn-toolbar pull-right'>
    <div class='btn-group'>
        <a href="{{ path('content_new') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span> New </a>
        <a href="{{ path('content_search') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span> Search </a>
    </div>
</div>
{% endblock %}

{% block body %}



    <table class="table">
        <thead>
            <tr>
                <th>First Line</th>
                <th>Author</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for content in contents %}
                <tr>
                    <td>
                        <a href="{{ path('content_show', { 'id': content.id }) }}">
                            {{ content.firstLine }}
                        </a>
                    </td>
                    <td>
                        {% set author = content.author %}
                        {% if author is not null %}
                            <a href='{{ path('person_show', {'id': author.id}) }}'>{{ author }}</a>
                        {% endif %}
                    </td>
                    <td>{{ content.date }}</td>
                    <td>{{ content.description|raw }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(contents) }}
    </div>

{% endblock %}
