{% extends 'base.html.twig' %}

{% block title %}Content Search{% endblock %}

{% block breadcrumb %}
{% include 'partial/breadcrumb.html.twig' with {'index': 'content', 'show': 'Search'} %}
{% endblock %}

{% block pageheader %}
    <h1>Content Search</h1>
    {% if q %}
        <p class="count">
            Displaying {{ contents|length }} contents of {{ contents.getTotalItemCount }} total. </p>
    {% endif %}
{% endblock %}

{% block body %}

    {% include 'partial/search-form.html.twig' with {'path': path('content_search')} %}

    <table class="table">
        <thead>
            <tr>
                <th>First Line</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for content in contents %}
                <tr>
                    <td>
                        <a href="{{ path('content_show', { 'id': content.id }) }}">
                            {{ content.firstLine }}
                        </a>
                    </td>
                    <td>{{ content.description|raw }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if q %}
        <div class="navigation">
            {{ knp_pagination_render(contents) }}
        </div>
    {% endif %}

{% endblock %}
