{% extends 'base.html.twig' %}

{% block title %}{{ content.firstLine }}{% endblock %}

{% set hasDescription = content.transcription is not null %}
{% set hasContributions = content.contributions|length > 0 %}
{% set hasManuscripts =  content.manuscriptContents|length > 0 %}

{% block admin %}
<div class="btn-toolbar">
    <div class="btn-group pull-right">
        <a href="{{ path('content_edit', { 'id': content.id }) }}" class="btn btn-default">
            <span class='glyphicon glyphicon-edit'></span> Edit </a>
        <a href="{{ path('content_delete', { 'id': content.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this Content?">
            <span class='glyphicon glyphicon-remove'></span> Delete </a>
    </div>
</div>
{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'content', 'show': content.firstLine} %}
{% endblock %}

 {% block pageheader %}
<h1><span class="firstLine">{{ content.firstLine }}</span></h1>
 {% endblock %}

{% block body %}
<ul class="nav nav-pills" id="tabs" role="tablist">
    <li class="nav-item active">
        <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</a>
    </li>
    
    {% if hasContributions %}
    <li class="nav-item">
        <a class="nav-link" id="contributions-tab" data-toggle="tab" href="#contributions" role="tab" aria-controls="contributions" aria-selected="false">Contributions</a>
    </li>
    {% endif %}
    
    {% if hasManuscripts %}
    <li class="nav-item">
        <a class="nav-link" id="manuscripts-tab" data-toggle="tab" href="#manuscripts" role="tab" aria-controls="manuscripts" aria-selected="false">Manuscripts</a>
    </li>
    {% endif %}
</ul>
<div class="tab-content" id="tabContent">
    <div class="tab-pane active transcription-tab" id="details" role="tabpanel" aria-labelledby="details-tab">
        <div class="transcription">
            <h4>Transcription</h4>
            {{ content.transcription | raw }}
        </div>
        <div>
            <table class="table table-condensed table-bordered">
                <tbody>
                    <tr>
                        <th>First Line</th>
                        <td>{{ content.firstLine }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ content.date }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ content.description|raw }}</td>
                    </tr>
                    <tr>
                        <th>Created</th>
                        <td>{% if content.created %}{{ content.created|date }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Updated</th>
                        <td>{% if content.updated %}{{ content.updated|date }}{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    

    </div>

    {% if hasContributions or isAdmin %}
    <div class="tab-pane" id="contributions" role="tabpanel" aria-labelledby="contributions-tab">
        {% if isAdmin %}
        <div class="pull-right">
            <a href="{{ path('content_contributions', {'id': content.id}) }}" class="btn btn-default">
                <span class='glyphicon glyphicon-edit'></span> Edit Contributions</a>
        </div>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Note</th>
                </tr>
            </thead>
            {% for contribution in content.contributions %}
            <tr>
                <td><a href="{{ path('person_show', {'id': contribution.person.id}) }}">{{ contribution.person }}</a></td>
                <td>{{ contribution.role }}</td>
                <td>
                    {{ contribution.note|raw }}
                </td>
                
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
   
    {% if hasManuscripts %}
    <div class="tab-pane" id="manuscripts" role="tabpanel" aria-labelledby="manuscripts-tab">
        <div class="gallery">
            {% for manuscriptContent in content.manuscriptContents %}
            {% include 'manuscript/partial/gallery-item.html.twig' with {'manuscript': manuscriptContent.manuscript, 'callbackDescription': manuscriptContent.context} %}
            {% endfor %}
        </div>
        
    </div>
    {% endif %}
</div>
{% endblock %}
