{% extends 'base.html.twig' %}

{% block title %}Content{% endblock %}

 {% block pageheader %}
     <h1>Content Details</h1>
 {% endblock %}

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('content_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back </a>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('content_edit', { 'id': content.id }) }}" class="btn btn-default">
                    <span class='glyphicon glyphicon-edit'></span> Edit </a>
                <a href="{{ path('content_delete', { 'id': content.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this Content?">
                    <span class='glyphicon glyphicon-remove'></span> Delete </a>
            {% endif %}
        </div>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>First Line</th>
                <td>{{ content.firstLine }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ content.date }}</td>
            </tr>
            <tr>
                <th>Transcription</th>
                <td>{{ content.transcription|raw }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ content.description|raw }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if content.created %}{{ content.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if content.updated %}{{ content.updated|date }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <h2>Contributions</h2>
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <div class="pull-right">
            <a href="{{ path('content_contributions', {'id': content.id}) }}" class="btn btn-default">
                <span class='glyphicon glyphicon-edit'></span> Edit Contributions</a>
        </div>
    {% endif %}

    {% if content.contributions | length > 0 %}
        <dl>
            {% for contribution in content.contributions %}
                <dt>{{ contribution.role }}:
                    <a href="{{ path('person_show', {'id': contribution.person.id}) }}">
                        {{ contribution.person }}
                    </a>
                </dt>
                {% if contribution.note %}
                    <dd>
                        {{ contribution.note|raw }}
                    </dd>
                {% endif %}
            {% endfor %}
        </dl>
    {% else %}
        <p>No contributions have been recorded for this content.</p>
    {% endif %}

    <h2>Manuscripts</h2>
    {% if content.manuscriptContents|length > 0 %}
        <dl>
            {% for manuscriptContent in content.manuscriptContents %}
            <dt>
                <a href="{{ path('manuscript_show', {'id': manuscriptContent.manuscript.id }) }}">
                    {{ manuscriptContent.manuscript }}
                </a>
            </dt>
            <dd>{{ manuscriptContent.context|raw }}</dd>
            {% endfor %}
        </dl>
    {% else %}
        <p>This content is not associated with any manuscripts.</p>
    {% endif %}


    {% if content.images | length > 0 %}
        <h2>Images</h2>
        <ul>
            {% for image in content.images %}
                <li>
                    <a href="{{ path("image_show", {"id":image.id}) }}">
                        {{ image }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
