{% extends 'base.html.twig' %}

{% set entity = content %}

{% block title %}{{ content.firstLine }}{% endblock %}

{% block admin %}
    {% include 'partial/toolbar.html.twig' with {'edit': 'content_edit', 'delete': 'content_delete', 'id': content.id} %}
{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'content', 'index_label': 'Poems', 'show': content.firstLine} %}
{% endblock %}

 {% block pageheader %}
     <h1><span class="firstLine">{{ content.firstLine }}</span></h1>
 {% endblock %}

{% block body %}
    {% set details %}
        <div class="content-details">
            <div class="details">
                <table class="table table-condensed">
                    <tbody>

                        <tr>
                            <th>First Line</th>
                            <td>{{ content.firstLine }}</td>
                        </tr>


                        {% for contribution in content.contributions %}
                            <tr>
                                <th>
                                    <a href="{{ path('content_role_show', {'id': contribution.role.id}) }}">{{ contribution.role }}</a>
                                </th>
                                <td>
                                    <a href="{{ path('person_show', {'id': contribution.person.id}) }}">{{ contribution.person }}</a>
                                    {% if contribution.note|trim is not empty %}
                                        <div class="note">
                                            {{ contribution.note|raw }}
                                        </div>
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                        {% if content.date is not null %}
                            <tr>
                                <th>Date</th>
                                <td>{{ content.date }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Description</th>
                            <td>{{ content.description|raw }}</td>
                        </tr>
                        {% if content.links|length > 0 %}
                            <tr>
                                <th>Links</th>
                                <td>
                                    {% include 'partial/link.html.twig' %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if isAdmin %}
                            <tr>
                                <th>Created</th>
                                <td>{% if content.created %}{{ content.created|date }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Updated</th>
                                <td>{% if content.updated %}{{ content.updated|date }}{% endif %}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                {% if isAdmin %}
                    {% include 'partial/toolbar.html.twig' with {'edit': 'content_contributions', 'id': content.id} %}
                {% endif %}
            </div>
        </div>
        <div class="transcription">
            <h4>Transcription</h4>
            <div class="transcription-body">
                {% if content.transcription is not empty %}
                    {{ content.transcription|raw }}
                {% else %}
                    <p>No transcription available.</p>
                {% endif %}
            </div>
        </div>
    {% endset %}

    {% set manuscripts %}
        {% if content.manuscriptContents|length > 0 %}
            <div class="gallery">
                {% for manuscriptContent in content.manuscriptContents|sort((a, b) => a.manuscript.callNumber <=> b.manuscript.callNumber) %}
                    {% include 'manuscript/partial/gallery-item.html.twig' with {'manuscript': manuscriptContent.manuscript, 'callbackDescription': manuscriptContent.context} %}
                {% endfor %}

            </div>
        {% endif %}
    {% endset %}

    {% set tabs = {
        'Details &amp; Transcription': details,
        'Manuscripts': manuscripts
    } %}


    {% include 'partial/tabs.html.twig' with {'tabs': tabs} %}

{% endblock %}
