{% extends '@!NinesBlog/page/index.html.twig' %}


{% block pageheader %}
    <h1>About</h1>
{% endblock %}

{% block action_buttons %}
    {% include 'partial/toolbar.html.twig' with {'new': 'nines_blog_page_new', 'sort_action': 'nines_blog_page_sort'} %}
    <a href="{{ path('nines_blog_page_search') }}" class="btn btn-light">
        <i class="bi bi-search"></i> Search
    </a>
{% endblock %}

{% block body %}
    <div class="gallery">
        {% for page in pages %}
            {% embed 'partial/gallery-item.html.twig' %}
                {% block item_heading %}<a href="{{ path('nines_blog_page_show', {'id': page.id}) }}">{{ page.title }}</a>{% endblock %}
                {% block item_body %}
                    {{ page.excerpt|raw }}
                {% endblock %}
            {% endembed %}
        {% endfor %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pages) }}
    </div>
{% endblock %}
