

<table class="table">
    <thead>
        <tr>
            <th>First Line</th>
            <th>Author</th>
            <th>Description</th>
            <th>Manuscripts</th>
        </tr>
    </thead>
    <tbody>
        {% for content in contents %}
        <tr>
            <td>
                <a href="{{ path('content_show', { 'id': content.id }) }}">
                    {{ content.firstLine }}
                </a>
            </td>
            <td>
                {% set author = content.author %}
                {% if author is not null %}
                    <a href='{{ path('person_show', {'id': author.id}) }}'>{{ author }}</a>
                {% endif %}
            </td>
            <td>{{ content.description|raw }}</td>
            <td class="number">{{ content.manuscriptContents|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>