{% extends 'base.html.twig' %}

{% block title %}{{ coterie.label }} {% endblock %}

{% block admin %}
    {% include 'partial/toolbar.html.twig' with {'edit': 'coterie_edit', 'delete': 'coterie_delete', 'id': coterie.id } %}
{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'coterie', 'show': coterie.label} %}
{% endblock %}

 {% block pageheader %}
     <h1>{{ coterie.label }}</h1>
 {% endblock %}

{% block body %}
    {% embed '@NinesUtil/term/partial/show.html.twig' with {'term': coterie} %}
        {% block callback %}
            <tr>
                <th>Person</th>
                <td>
                    {% if coterie.people|length > 0 %}
                        <ul>
                            {% for person in coterie.people %}
                                <li>
                                    <a href='{{ path("person_show", {"id":person.id }) }}'>
                                        {{ person }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Manuscripts</th>
                <td>
                    {% if coterie.manuscripts | length > 0 %}
                        <ul>
                            {% for manuscript in coterie.manuscripts %}
                            <li>
                                <a href='{{ path('manuscript_show', {'id': manuscript.id}) }}'>
                                    {{ manuscript }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Regions</th>
                <td>
                    {% if coterie.regions | length > 0 %}
                        <ul>
                            {% for region in coterie.regions %}
                            <li>
                                <a href='{{ path('region_show', {'id': region.id}) }}'>
                                    {{ region }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
        {% endblock %}
    {% endembed %}

{% endblock %}
