{% extends 'base.html.twig' %}

{% block title %}Print Source List{% endblock %}

{% block pageheader %}
    <h1>Print Source List</h1>
    <p class="count">
        Displaying {{ printSources|length }} print sources of {{ printSources.getTotalItemCount }} total. </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('print_source_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New </a>
            {% endif %}
            <a href="{{ path('print_source_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search </a>
        </div>
    </div>

    {% include '@NinesUtil/term/partial/index.html.twig' with {'terms': printSources, 'path': 'print_source_show'} %}

    <div class="navigation">
        {{ knp_pagination_render(printSources) }}
    </div>

{% endblock %}
