{% extends 'base.html.twig' %}

{% block title %}Archive List{% endblock %}


{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'archive'} %}
{% endblock %}

{% block pageheader %}
    <h1>Archive List</h1>
{% include 'partial/count.html.twig' with {'index': archives, 'label': 'archives'} %}
{% endblock %}

{% block admin %}

<div class='btn-toolbar pull-right'>
    <div class='btn-group'>
        <a href="{{ path('archive_new') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span> New </a>
        <a href="{{ path('archive_search') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span> Search </a>
    </div>
</div>
{% endblock %}

{% block body %}
    
    <table class="table">
        <thead>
            <tr>
                <th>Archive</th>
                <th>Description</th>
                <th>Manuscripts</th>
            </tr>
        </thead>
        <tbody>
            {% for archive in archives %}
                <tr>
                    <td><a href="{{ path('archive_show', {'id': archive.id}) }}">{{ archive }}</a></td>
                    <td>{{ archive.description|raw }}</td>
                    <td class="number">{{ archive.manuscripts|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(archives) }}
    </div>

{% endblock %}
