{% extends 'base.html.twig' %}

{% block title %}Archive List{% endblock %}
{% block breadcrumb %}
{% include 'partial/breadcrumb.html.twig' %}
{% endblock %}
{% block pageheader %}
    <h1>Archive List</h1>
    <p class="count">
        Displaying {{ archives|length }} archives of {{ archives.getTotalItemCount }} total. </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('archive_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New </a>
            {% endif %}
            <a href="{{ path('archive_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search </a>
        </div>
    </div>

    {% include '@NinesUtil/term/partial/index.html.twig' with {'terms': archives, 'path': 'archive_show'} %}

    <div class="navigation">
        {{ knp_pagination_render(archives) }}
    </div>

{% endblock %}
