<table class="table">
    <thead>
        <tr>
            <th>Theme</th>
            <th>Description</th>
            <th>Major Theme</th>
            <th>Minor Theme</th>
        </tr>
    </thead>
    <tbody>
        {% for theme in themes %}
            <tr>
                <td><a href="{{ path('theme_show',{'id':theme.id}) }}">{{ theme.label }}</a></td>
                <td>{{ theme.description|raw }}</td>
                <td class="number">{{ theme.majorManuscripts|length }}</td>
                <td class="number">{{ theme.otherManuscripts|length }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
