{% extends 'base.html.twig' %}

{% block title %}PrintSource List{% endblock %}

{% block pageheader %}
    <h1>PrintSource List</h1>
    <p class="count">
        Displaying {{ printSources|length }} printSources of {{ printSources.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
                        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('print_source_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            {% endif %}
                        <a href="{{ path('print_source_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Sortable Name</th>
                </tr>
        </thead>
        <tbody>
        {% for printSource in printSources %}
            <tr>
                <td>
                    <a href="{{ path('print_source_show', { 'id': printSource.id }) }}">
                        {{ printSource.fullName }}
                    </a>
                </td>
                <td>{{ printSource.sortableName }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(printSources) }}
    </div>

{% endblock %}
