{# manuscript/partial/gallery-item.html.twig #}

{# Creates an manuscript item for use within a gallery context,
either in the body of a page or within the contents of a tab #}

{# Requires: manuscript #}

{% embed 'partial/gallery-item.html.twig' %}
    {% block item_class %}ms{% endblock %}
    {% block item_heading %}
        <a href="{{ path('manuscript_show', { 'id': manuscript.id }) }}">{{ manuscript.callNumber }}</a>
    {% endblock %}
    {% block item_top %}
        {% if not(manuscript.complete) and isAdmin %}
            <span class="badge draft">Draft</span>
        {% endif %}
        <table>
            <tbody>
                <tr>
                    <th>Title</th>
                    <td>{% include 'manuscript/partial/title.html.twig' with {'title': manuscript.title|u.truncate(50,' [...]')} %}</td>
                </tr>
                {% if manuscript.periods|length > 0 %}
                    <tr>
                        <th>Period</th>
                        <td>{% for period in manuscript.periods|sort((a,b) => a.label <=> b.label) %}
                                <a href="{{ path('period_show', { 'id': period.id}) }}">
                                    {{ period }}
                                </a>
                                {%- if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                {% if manuscript.archive is not null %}
                    <tr>
                        <th>Archive</th>
                        <td>
                            <a href="{{ path('archive_show', {'id' : manuscript.archive.id}) }}">{{ manuscript.archive }}</a>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    {% endblock %}
    {% block item_body %}
        {% if (manuscript.description is defined and not null) or (callbackDescription is defined and callbackDescription is not null) %}
            {% if callbackDescription is defined and callbackDescription is not null %}
                {{ callbackDescription|raw }}
            {% else %}
                {{ manuscript.description | raw }}
            {% endif %}
        {% endif %}
    {% endblock %}
{% endembed %}
