{% extends 'base.html.twig' %}

{% set entity = manuscript %}

{% block title %}{{ manuscript.callNumber }} {% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'manuscript', 'show': manuscript.callNumber} %}
{% endblock %}

{% block pageheader %}
    <h1>{{ manuscript.callNumber }}</h1>
{% endblock %}

{% block admin %}
    {% include 'partial/toolbar.html.twig' with {'edit': 'manuscript_edit', 'delete': 'manuscript_delete', 'id': manuscript.id} %}
{% endblock %}

{% block body %}
    {% set detailsContent %}

        <table class="table">
            <tbody>
            <tr>
                <th>Title</th>
                <td>{% include 'manuscript/partial/title.html.twig' with {'manuscript': manuscript} %}</td>
            </tr>
            <tr>
                <th>Archive</th>
                <td>
                    {% if manuscript.archive %}
                        <a class="tag" href="{{ path('archive_show', { 'id': manuscript.archive.id}) }}">
                            {{ manuscript.archive }}
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Call Number</th>
                <td>{{ manuscript.callNumber }}</td>
            </tr>
            <tr>
                <th>Complete</th>
                <td>{% if manuscript.complete %}Yes{% else %}No{% endif %}</td>
            </tr>

            <tr>
                <th>Description</th>
                <td>{{ manuscript.description|raw }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{ manuscript.format }}</td>
            </tr>
            <tr>
                <th>Book Size</th>
                <td>{{ manuscript.size }}</td>
            </tr>
            <tr>
                <th>Filled Page Count</th>
                <td>{{ manuscript.filledPageCount }}</td>
            </tr>
            <tr>
                <th>Item Count</th>
                <td>{{ manuscript.itemCount }}</td>
            </tr>
            <tr>
                <th>Poem Count</th>
                <td>{{ manuscript.poemCount }}</td>
            </tr>
            <tr>
                <th>Periods</th>
                <td>
                    {% include 'partial/tag-list.html.twig' with {
                        'att': 'periods',
                        'sort': 'name',
                        'route': "period_show"
                    } %}
                </td>
            </tr>

            <tr>
                <th>First Line Index</th>
                <td>{% if manuscript.firstLineIndex %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Digitized</th>
                <td>{% if manuscript.digitized %}Yes{% else %}No{% endif %}</td>
            </tr>

            <tr>
                <th>Region</th>
                <td>
                    {% include 'partial/tag-list.html.twig' with {
                        'att': 'regions',
                        'sort': 'name',
                        'route': "region_show"
                    } %}
                </td>
            </tr>
            <tr>
                <th>Additional Genres</th>
                <td>
                    {% if manuscript.additionalGenres %}
                        {{ manuscript.additionalGenres|sort((a,b) => a <=> b)|join(', ') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Print Sources</th>
                <td>
                    {% include 'partial/tag-list.html.twig' with {
                        'att': 'printSources',
                        'sort': 'label',
                        'route': "print_source_show"
                    } %}

                </td>
            </tr>
            <tr>
                <th>Themes</th>
                <td>
                    {% include 'partial/tag-list.html.twig' with {
                        'att': 'themes',
                        'sort': 'label',
                        'route': "theme_show"
                    } %}
                </td>
            </tr>
            <tr>
                <th>Links</th>
                <td>
                    {% include 'partial/link.html.twig' %}
                </td>
            </tr>
            <tr>
                <th>Bibliography</th>
                <td>{{ manuscript.bibliography|raw }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if manuscript.created %}{{ manuscript.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if manuscript.updated %}{{ manuscript.updated|date }}{% endif %}</td>
            </tr>
            </tbody>
        </table>
    {% endset %}

    {% set contributionsContent %}
        {% if isAdmin %}
            {% include 'partial/toolbar.html.twig' with {'edit': 'manuscript_contributions', 'id': manuscript.id} %}
        {% endif %}


        {% if manuscript.manuscriptContributions | length > 0 %}
            <table class="table">
                <thead>
                <tr>
                    <th>Contributor</th>
                    <th>Role</th>
                </tr>
                </thead>

                {% set people = [] %}
                {% for contribution in manuscript.manuscriptContributions %}
                    {% set people = (contribution.person in people) ? people : people|merge([contribution.person]) %}
                {% endfor %}

                {% for person in people|sort((a,b) => a.sortableName <=> b.sortableName) %}
                    <tr>
                        <td>
                            <a href="{{ path('person_show', {'id': person.id}) }}">{{ person }}</a>
                        </td>
                        <td>
                            <ul>
                                {% for manuscriptContribution in manuscript.manuscriptContributions|filter(m => m.person == person) %}
                                    <li>
                                        <a href="{{ path('manuscript_role_show', {'id': manuscriptContribution.role.id}) }}">
                                            {{ manuscriptContribution.role }}
                                        </a>
                                        {% if manuscriptContribution.note %}
                                            <div class="note">
                                                {{ manuscriptContribution.note|raw }}
                                            </div>
                                        {% endif %}
                                    </li>
                                {% endfor %}

                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endset %}

    {% set contentsContent %}
        {% if isAdmin %}
            {% include 'partial/toolbar.html.twig' with {'edit': 'manuscript_contents', 'id': manuscript.id } %}
        {% endif %}

        {% if manuscript.manuscriptContents|length > 0 %}

            {% set showPrintSource = manuscript.manuscriptContents|filter(m => m.printSource is not null)|length > 0 %}
            <table class="table">
                <thead>
                <tr>
                    <th>First Line</th>
                    <th>Context</th>
                    {% if showPrintSource %}
                        <th>Print Source</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for manuscriptContent in manuscript.manuscriptContents|sort((a,b) => a.content.firstLine <=> b.content.firstLine) %}
                    <tr>
                        <td>
                            <a href="{{ path('content_show', {'id': manuscriptContent.content.id}) }}">{{ manuscriptContent.content.firstLine }}
                        </td>
                        <td>
                            {{ manuscriptContent.context | raw }}
                        </td>
                        {% if showPrintSource %}
                            <td>
                                {% if manuscriptContent.printSource %}
                                    <a href="{{ path('print_source_show', {'id': manuscriptContent.printSource.id}) }}">{{ manuscriptContent.printSource }}</a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endset %}

    {% set featuresContent %}

        {% if isAdmin %}
            {% include 'partial/toolbar.html.twig' with {'edit': 'manuscript_features', 'id': manuscript.id } %}
        {% endif %}

        {% if manuscript.getManuscriptFeatures(true)|length > 0 %}
            <table class="table">
                <thead>
                <tr>
                    <th>Feature</th>
                    <th>Note</th>
                </tr>
                </thead>
                <tbody>
                {% for manuscriptFeature in manuscript.getManuscriptFeatures(true) %}
                    <tr>
                        <td>
                            <a href="{{ path('feature_show', {'id': manuscriptFeature.feature.id}) }}">
                                {{ manuscriptFeature.feature.label }}
                            </a>
                        </td>
                        <td>{{ manuscriptFeature.note|raw }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endset %}

    {% set tabs = {
        'Details': detailsContent,
        'Contributors': contributionsContent,
        'Poems': contentsContent,
        'Features': featuresContent
    } %}

    {% include 'partial/tabs.html.twig' with {'tabs': tabs} %}

{% endblock %}
