{% extends 'base.html.twig' %}

{% block title %}Person List{% endblock %}

{% block breadcrumb %}
{% include 'partial/breadcrumb.html.twig' with {'index': 'person', 'index_label': 'People'} %}
{% endblock %}

{% block pageheader %}
    <h1>Person List</h1>
{% include 'partial/count.html.twig' with {'index': people, 'label': 'people'} %}
{% endblock %}

{% block admin %}

<div class='btn-toolbar pull-right'>
    <div class='btn-group'>
        <a href="{{ path('person_new') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span> New </a>
        <a href="{{ path('person_search') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span> Search </a>
    </div>
</div>

{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                {% if isAdmin %}
                <th>Sortable Name</th>
                {% endif %}
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>

            {% for person in people %}
                <tr>
                    <td>
                        <a href="{{ path('person_show', { 'id': person.id }) }}">
                            {{ person }}
                        </a>
                    </td>
                    {% if is_granted('ROLE_CONTENT_ADMIN') %}
                        <td>
                            {{ person.sortableName }}
                        </td>
                    {% endif %}
                    <td>
                        {% include 'person/partial/gender.html.twig' %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(people) }}
    </div>

{% endblock %}
