{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block pageheader %}
   <h1>{{ person.fullName }}</h1>
{% endblock %} 

{% block admin %}
<div class="btn-toolbar">
    <div class="btn-group pull-right">
        <a href="{{ path('person_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span> Back </a>
        {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('person_edit', { 'id': person.id }) }}" class="btn btn-default">
            <span class='glyphicon glyphicon-edit'></span> Edit </a>
        <a href="{{ path('person_delete', { 'id': person.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this Person?">
            <span class='glyphicon glyphicon-remove'></span> Delete </a>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block body %}


{% set blocks = [] %}





    <table class="table">
        <tbody>
            <tr>
                <th>Full Name</th>
                <td>{{ person }}</td>
            </tr>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <tr>
                    <th>Sortable Name</th>
                    <td>{{ person.sortableName }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Variant Names</th>
                <td>{% if person.variantNames|length > 0 %}{{ person.variantNames|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>
                    {% include 'person/partial/gender.html.twig' %}
                </td>
            </tr>
            <tr>
                <th>Birth Date</th>
                <td>{{ person.birthDate }}</td>
            </tr>
            <tr>
                <th>Death Date</th>
                <td>{{ person.deathDate }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ person.description|raw }}</td>
            </tr>
            <tr>
                <th>Regions</th>
                <td>
                    {% for region in person.regions %}
                        <a href="{{ path('region_show', { 'id': region.id}) }}">
                            {{ region -}}
                        </a>
                        {%- if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if person.created %}{{ person.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if person.updated %}{{ person.updated|date }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <h2>Content Contributions</h2>
    {% if person.contentContributions | length > 0 %}
        <ul>
            {% for contentContribution in person.contentContributions %}
                <li>
                    <a href="{{ path("content_contribution_show", {"id":contentContribution.id}) }}">
                        {{ contentContribution }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No content contributions recorded for this person.</p>
    {% endif %}

    <h2>Manuscript Contribution</h2>
    {% if person.manuscriptContributions | length > 0 %}
        <ul>
            {% for manuscriptContribution in person.manuscriptContributions %}
                <li>
                    <a href="{{ path("manuscript_contribution_show", {"id":manuscriptContribution.id}) }}">
                        {{ manuscriptContribution }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No manuscript contributions recorded for this person.</p>
    {% endif %}

{% endblock %}
