{% extends 'base.html.twig' %}

{% block title %}{{ person.fullName }}{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'person', 'index_label': 'People','show': person.fullName} %}
{% endblock %}

{% block pageheader %}
    {% include 'partial/term-index.html.twig' with {'term': person} %}
{% endblock %}

{% block action_buttons %}
    {% include 'partial/toolbar.html.twig' with {'edit':'person_edit', 'delete': 'person_delete', 'id': person.id} %}
{% endblock %}

{% set entity = person %}

{% block body %}
    {% set details_content %}

        <table class="table">
            <tbody>
                <tr>
                    <th>Full Name</th>
                    <td>{{ person }}</td>
                </tr>
                <tr>
                    <th>Variant Names</th>
                    <td>{% if person.variantNames|length > 0 %}{{ person.variantNames|join(', ') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>
                        {% include 'person/partial/gender.html.twig' %}
                    </td>
                </tr>
                <tr>
                    <th>Birth Date</th>
                    <td>{{ person.birthDate }}</td>
                </tr>
                <tr>
                    <th>Death Date</th>
                    <td>{{ person.deathDate }}</td>
                </tr>
                <tr>
                    <th>Coteries</th>
                    <td>
                        {% include 'partial/tag-list.html.twig' with {
                            'att': 'coteries',
                            'route': 'coterie_show'
                        } %}
                    </td>
                </tr>
                <tr>
                    <th>Biographical Links</th>
                    <td>
                        {% include 'partial/link.html.twig' %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endset %}

    {% set contentContent %}
        {% if person.contentContributions|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Role</th>
                        <th>First Line</th>
                    </tr>
                </thead>
                {% set allRoles = person.contentContributions|map(c => c.role) %}
                {% set roles = [] %}
                {% for role in allRoles %}
                    {% set roles = (role in roles) ? roles : roles|merge([role]) %}
                {% endfor %}
                {% for role in roles %}
                    <tr>
                        <td>
                            <a href="{{ path('content_role_show', {'id': role.id}) }}">{{ role }}</a>
                        </td>
                        <td>
                            <ul>
                                {% for contentContribution in person.contentContributions %}
                                    {% if contentContribution.role is same as(role) %}
                                        <li>
                                            <a href="{{ path('content_show', {'id': contentContribution.content.id}) }}">{{ contentContribution.content }}</a>
                                            {% if contentContribution.note %}
                                                <div class="note">
                                                    {{ contentContribution.note|raw }}
                                                </div>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endset %}

    {% set manuscriptContent %}
        {% if person.manuscriptContributions|length > 0 %}
            {% set allManuscripts = person.manuscriptContributions|map(c => c.manuscript) %}
            {% set manuscripts = [] %}
            {% for manuscript in allManuscripts %}
                {% set manuscripts = (manuscript in manuscripts) ? manuscripts : manuscripts|merge([manuscript]) %}
            {% endfor %}

            <div class="gallery">
                {% for manuscript in manuscripts|sort((a, b) => a.callNumber <=> b.callNumber) %}
                    {% set roles = person.manuscriptContributions|filter(m => m.manuscript == manuscript)|map(m => m.role) %}
                    {% set callbackDescription %}
                        <p>Role{% if roles|length > 1 %}s{% endif %}: {{ roles|join(', ') }}</p>
                    {% endset %}
                    {% include 'manuscript/partial/gallery-item.html.twig' %}
                {% endfor %}
            </div>
        {% endif %}
    {% endset %}

    {% set tabs = {
        'Details': details_content,
        'Manuscript Contributions': manuscriptContent,
        'Poem Contributions': contentContent
    } %}



    {% include 'partial/tabs.html.twig' with {'tabs': tabs} %}



{% endblock %}
