{% extends 'base.html.twig' %}

{% block title %}Manuscript Contribution{% endblock %}

 {% block pageheader %}
     <h1>Manuscript Contribution Details</h1>
 {% endblock %} 

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('manuscript_contribution_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back </a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Manuscript</th>
                <td>
                    <a href="{{ path('manuscript_show', { 'id': manuscriptContribution.manuscript.id}) }}">
                        {{ manuscriptContribution.manuscript }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Person</th>
                <td>
                    <a href="{{ path('person_show', { 'id': manuscriptContribution.person.id}) }}">
                        {{ manuscriptContribution.person }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Role</th>
                <td>
                    <a href="{{ path('manuscript_role_show', { 'id': manuscriptContribution.role.id}) }}">
                        {{ manuscriptContribution.role }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ manuscriptContribution.note|raw }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if manuscriptContribution.created %}{{ manuscriptContribution.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if manuscriptContribution.updated %}{{ manuscriptContribution.updated|date }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
