{% extends 'base.html.twig' %}

{% block title %}Theme List{% endblock %}

{% block pageheader %}
    <h1>Themes</h1>
    <p class="count">
        Displaying {{ themes|length }} themes of {{ themes.getTotalItemCount }} total. </p>
{% endblock %}

{% block admin %}
<div class='btn-toolbar pull-right'>
    <div class='btn-group'>
        <a href="{{ path('theme_new') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span> New </a>
        <a href="{{ path('theme_search') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span> Search </a>
    </div>
</div>
{% endblock %}


{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Theme</th>
                <th>Description</th>
                <th>Manuscripts</th>
            </tr>
        </thead>
        <tbody>
            {% for theme in themes %}
                <tr>
                    <td><a href="{{ path('theme_show',{'id':theme.id}) }}">{{ theme.label }}</a></td>
                    <td>{{ theme.description|raw }}</td>
                    <td class="number">{{ theme.manuscripts|length}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(themes) }}
    </div>

{% endblock %}
