{% extends 'base.html.twig' %}

{% block title %}Feature List{% endblock %}

{% block pageheader %}
    <h1>Feature List</h1>
    <p class="count">
        Displaying {{ features|length }} features of {{ features.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
                        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('feature_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            {% endif %}
                        <a href="{{ path('feature_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                </tr>
        </thead>
        <tbody>
        {% for feature in features %}
            <tr>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(features) }}
    </div>

{% endblock %}
