{% extends 'base.html.twig' %}

{% block title %}Content Role List{% endblock %}

{% block pageheader %}
    <h1>Content Roles</h1>
{% include 'partial/count.html.twig' with {'index': contentRoles, 'label': 'content roles'} %}
{% endblock %}


{% block breadcrumb %}
{% include 'partial/breadcrumb.html.twig' with {'index': 'content_role', 'index_label': 'Content Roles'} %}
{% endblock %}

{% block admin %}
{% include 'partial/toolbar.html.twig' with {'new': 'content_role_new'} %}
{% endblock %}


{% block body %}

  <table class="table">
      <thead>
          <tr>
              <th>Role</th>
              <th>Description</th>
              <th class="number">Contents</th>
          </tr>
      </thead>
      <tbody>
          {% for role in contentRoles %}
            <tr>
                <td><a href="{{ path('content_role_show', {'id': role.id}) }}">{{ role }}</a></td>         
                <td>{{ role.description|raw }}</td>
                <td class="number">{{ role.contributions|length }}</td>
            </tr>
          {% endfor %}
      </tbody>
  </table>



    <div class="navigation">
        {{ knp_pagination_render(contentRoles) }}
    </div>

{% endblock %}
