{% extends 'base.html.twig' %}

{% block title %}Poem Role{% endblock %}

 {% block pageheader %}
     {% include 'partial/term-index.html.twig' with {'term': contentRole} %}
 {% endblock %}


 {% block breadcrumb %}
     {% include 'partial/breadcrumb.html.twig' with {'index': 'content_role', 'index_label': 'Poem Roles', 'show': contentRole} %}
 {% endblock %}

 {% block admin %}
     {% include 'partial/toolbar.html.twig' with {'edit': 'content_role_edit', 'delete': 'content_role_delete', 'id': contentRole.id } %}
 {% endblock %}

{% block body %}

    {% if contentRole.contributions|length > 0 %}

        <div class="gallery role">
            {% set contributors = {} %}
            {% for contribution in contentRole.contributions %}
                {% set key = contribution.person.id %}
                {% if contributors[key] is defined %}
                {% else %}
                    {% set this = { key : key } %}
                    {% set contributors = contributors|merge(this) %}
                {% endif %}

            {% endfor %}
        </div>
    {% endif %}
    {% if contentRole.contributions | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Contributor</th>
                    <th>Poem</th>
                </tr>
            </thead>
            {% set people = [] %}
            {% for person in contentRole.contributions|map(c => c.person) %}
                {% set people = (person in people) ? people : people|merge([person]) %}
            {% endfor %}

            {% for person in people %}
                <tr>
                    <td>
                        <a href="{{ path('person_show', {'id': person.id}) }}">
                            {{ person }}</a>
                    </td>
                    <td>
                        <ul>
                            {% for contribution in contentRole.contributions|filter(c => c.person == person)|sort((a,b) => a.content <=> b.content ) %}
                                <li>
                                    <a href="{{ path('content_show', {'id': contribution.content.id}) }}">
                                        {{ contribution.content }}
                                    </a>
                                    {% if contribution.note %}
                                        <div class="note">
                                            {{ contribution.note|raw }}
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>

                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
