{% extends 'base.html.twig' %}

{% block title %}Region Search{% endblock %}

{% block breadcrumb %}
{% include 'partial/breadcrumb.html.twig' with {'index': 'region', 'show': 'Search'} %}
{% endblock %}

{% block pageheader %}
    <h1>Region Search</h1>
    {% if q %}
        <p class="count">
            Displaying {{ regions|length }} regions of {{ regions.getTotalItemCount }} total. </p>
    {% endif %}
{% endblock %}

{% block body %}

    {% include 'partial/search-form.html.twig' with {'path': path('region_search')} %}

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for region in regions %}
                <tr>
                    <td>
                        <a href="{{ path('region_show', { 'id': region.id }) }}">
                            {{ region.name }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if q %}
        <div class="navigation">
            {{ knp_pagination_render(regions) }}
        </div>
    {% endif %}

{% endblock %}
