{% set label %}
    {% if index_label is defined %}
        {{ index_label }}
    {% else %}
        {{ index|capitalize ~ 's' }}
    {% endif %}
{% endset %}


<ul class="breadcrumbs">
    <li><a href="{{ path('homepage') }}">Home</a></li>
    {% if show is defined %}
        <li><a href="{{ path(index ~ '_index') }}">{{ label }}</a></li>
        <li><span class="current">{{ show }}</span></li>
    {% else %}
        <li><span class="current">{{ label }}</span></li>
    {% endif %}
</ul>
