
<ul class="breadcrumbs">
    <li><a href="{{ path('homepage') }}">Home</a></li>
    {% if show is defined %}
        <li><a href="{{ path(index ~ '_index') }}">{{ index|capitalize ~ 's' }}</a></li>
    <li><span class="current">{{ show }}</span></li>
    {% else %}
    <li><span class="current">{{ index|capitalize ~ 's' }}</span></li>
    {% endif %}
</ul>