{% set label %}
    {% if index_label is defined %}
        {{ index_label }}
    {% else %}
        {{ index|capitalize ~ 's' }}
    {% endif %}
{% endset %}

{% set path %}
    {% if index_path is defined  %}
        {{ index_path }}
    {% elseif index is defined %}
        {{ path(index ~ '_index') }}
    {% endif %}
{% endset %}

<li><a href="{{ path('homepage') }}">Home</a></li>
{% if show is defined %}
    <li><a href="{{ path }}">{{ label }}</a></li>
    <li><span class="current">{{ show }}</span></li>
{% else %}
    <li><span class="current">{{ label }}</span></li>
{% endif %}