{% set tabs = tabs|filter(v => v|trim is not empty) %}
{% if tabs|length > 0 %}
    <ul class="nav nav-pills" id="tabs" role="tablist">
        {% for key,val in tabs %}
            {% set active = loop.first ? ' active' %}
            {% set id = key|replace({'&amp;': ''})|u.camel %}
            <li class="nav-item{{ active }}">
                <a class="nav-link{{ active }}" id="{{ id }}-tab" href="#{{ id }}"
                   data-toggle="tab"  role="tab" aria-controls="{{ id }}"
                   aria-selected="{{ loop.first }}">{{ key|raw }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content" id="tabContent">
        {% for key,val in tabs %}
            {% set id = key|replace({'&amp;': ''})|u.camel %}
            <div class="tab-pane {% if loop.first %}active{% else %}fade{% endif %}" id="{{ id }}" role="tabpanel" aria-labelledby="{{ id }}-tab">
                {{ val|raw }}
            </div>
        {% endfor %}
    </div>
{% endif %}




















